
body {
    background:linear-gradient(to bottom right,rgb(229, 2, 250),rgb(14, 170, 209),rgb(14, 99, 209)) no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.wide {
    width: 520px;
    height: 740PX;
    margin: 100px auto;
    /* background: pink; */
    position: relative;
    transform-style:preserve-3d;
    /* perspective:1000PX; */
    transform:rotateY(60deg) rotateX(60deg) skew(-5deg,5deg);
    animation:haha1 15s linear infinite;
}
@-webkit-keyframes haha1{
 
		0%{-webkit-transform:rotateY(360deg) rotateX(60deg) skew(-1deg,1deg);}
 
		25%{-webkit-transform:rotateY(720deg) rotateX(60deg) skew(-1deg,1deg);}
 
		50%{-webkit-transform:rotateY(1080deg) rotateX(60deg) skew(-1deg,1deg);}
 
		75%{-webkit-transform:rotateY(1440deg) rotateX(60deg) skew(-1deg,1deg);}
 
		100%{-webkit-transform:rotateY(1800deg) rotateX(60deg) skew(-1deg,1deg);}
 
    }
    audio {
position: absolute;
top: 50px;
left: 50%;
transform: translateX(-50%);
    }
.wide .img1 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateX(90deg) translateZ(-200PX);
}
.wide .img2 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateX(90deg) translateZ(200PX);
}
.wide .img3 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateY(90deg) translateZ(200PX);
}
.wide .img4 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateY(90deg) translateZ(-200PX);
}
.wide .img5 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateY(0deg) translateZ(200PX);
}
.wide .img6 {
    position: absolute;
    top: 100px;
    left: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    transform: rotateY(0deg) translateZ(-200PX);
}
.wide .img7 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateX(90deg) translateZ(-70PX);
}
.wide .img8 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateX(90deg) translateZ(70PX);
}
.wide .img9 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateY(90deg) translateZ(70PX);
}
.wide .img10 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateY(90deg) translateZ(-70PX);
}
.wide .img11 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(70PX);
}
.wide .img12 {
    position: absolute;
    top: 250px;
    left: 120px;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(-70PX);
}
.wide .img13 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateX(90deg) translateZ(-125PX);
}
.wide .img14 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateX(90deg) translateZ(125PX);
}
.wide .img15 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateY(90deg) translateZ(125PX);
}
.wide .img16 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateY(90deg) translateZ(-125PX);
}
.wide .img17 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateY(0deg) translateZ(125PX);
}
.wide .img18 {
    position: absolute;
    top: 200px;
    left: 75px;
    display: block;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    transform: rotateY(0deg) translateZ(-125PX);
}